.best
  display: none
  background-color: $color-brown--secondary

  &__title
    padding-top: 24px
    padding-bottom: 24px
    text-align: center
    background-color: $color-brown

  &__list
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 20px

  &__item
    display: flex
    min-width: 122px
    margin-bottom: 20px

  &__link
    display: flex

    &:hover,
    &:focus
      .best__name
        color: $color-text--secondary
        transition: all 0.3s ease-in-out

    &:active
      .best__name
        color: $color-action
        transition: all 0.3s ease-in-out

  &__name
    display: block
    font-size: 12px
    color: $color-text
    margin-bottom: 8px
    transition: all 0.3s ease-in-out

  &__img
    border-radius: 4px

  &__pic
    position: relative
    margin-right: 10px

    &::before
      width: 3px
      height: 100%
      content: ""
      position: absolute
      left: 0
      top: 0

    &--gold
      &::before
        background-color: $color-gold

    &--silver
      &::before
        background-color: $color-silver

  &__rating
    width: 63px
    height: 9px
    background-color: transparent
    background-image: url("../img/stars.svg")
    background-size: contain
    background-repeat: no-repeat

  &__block
    &--padding
      padding: 5px 0

  @media (min-width: $screen-xs)
    &__list
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around

  @media (min-width: $screen-sm)
    display: block

    &__list
      padding-top: 25px

    &__item
      margin-bottom: 25px

  @media (min-width: $screen-md)
    &__title
      text-align: left
      padding-top: 23px
      padding-bottom: 22px
      padding-left: 44px

