.main-nav
  width: 100%
  top: 70px
  left: 0
  position: absolute
  background-color: $color-brown--secondary
  min-height: 247px
  z-index: 10

  &--closed
    transform: scaleY(0)
    transform-origin: top
    transition: transform 0.3s ease-in-out

  &--opened
    transform: scaleY(1)
    transform-origin: top
    transition: transform 0.3s ease-in-out

  &__link
    box-sizing: border-box
    position: relative
    padding: 15px 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 13px
    font-weight: 400
    color: $color-text
    transition: all 0.3s ease-in-out

    &:hover,
    &:focus
      color: $color-text--secondary
      transition: all 0.3s ease-in-out

      & .main-nav__icon
        fill: $color-text--secondary
        transition: all 0.3s ease-in-out

    &:active
      color: $color-action
      transition: all 0.3s ease-in-out

      & .main-nav__icon
        fill: $color-action
        transition: all 0.3s ease-in-out

  &__icon
    fill: $color-text
    position: absolute
    left: calc(50% - 70px)
    transition: all 0.3s ease-in-out
