.page-header
  &__decor
    margin-right: 8px

  &__logo
    margin: 0

  &__home
    display: block
    position: relative
    font-family: $font-family--secondary
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    color: $color-text--secondary
    transition: all 0.3s ease-in-out

    &:hover,
    &:focus
      color: $color-gold
      transition: all 0.3s ease-in-out

    &:active
      color: $color-action
      transition: all 0.3s ease-in-out



    &::before
      width: 17px
      height: 6px
      content: ""
      position: absolute
      left: 5px
      top: 10px
      background-color: transparent
      background-image: url("../img/scarf.svg")

  &__block
    display: flex
    align-items: center
    justify-content: space-between
    padding: 24px 12px

    &--brown
      background-color: $color-brown

    &--lightgrey
      background-color: $color-lightgrey

    &--grey
      background-color: $color-grey


  &__buttons
    display: none

  &__toggler
    font-size: 0
    width: 30px
    height: 20px
    background-color: transparent
    position: relative

    &:hover,
    &:focus
      span
        background-color: $color-gold
        transition: all 0.3s ease-in-out

    & span
      display: block
      width: inherit
      height: 2px
      background-color: $color-text--secondary
      position: absolute
      transition: all 0.3s ease-in-out

    &--closed
      & span
        &:first-child
          top: 0

        &:nth-child(2)
          top: 9px

        &:last-child
          bottom: 0

    &--opened
      & span
        &:first-child
          top: 8px
          transform: rotate(45deg)

        &:nth-child(2)
          top: 9px
          opacity: 0

        &:last-child
          transform: rotate(-45deg)
          bottom: 10px

  &__wrapper
    width: 100%
    position: relative

  &__icon
    transition: all 0.3s ease-in-out
    fill: $color-brown

    &--absolute
      position: absolute
      right: 10px
      top: 50%
      transform: translateY(-50%)
      fill: #d4d8da

    &--left
      fill: $color-text
      position: absolute
      left: calc(50% - 70px)
      transition: all 0.3s ease-in-out

  &__input
    width: 100%
    padding: 16.5px 10px
    padding-right: 30px
    box-sizing: border-box
    border: 1px solid #d4d8da
    border-radius: 5px
    font-weight: 400
    font-size: 13px
    background-color: transparent
    color: $color-brown--secondary
    transition: all 0.3s ease-in-out

    &:hover
      border-color: $color-brown

      & + .page-header__icon--absolute
        fill: $color-brown

    &:focus
      border-color: $color-gold
      outline-color: $color-gold

      & + .page-header__icon
        fill: $color-gold

    &::placeholder
      color: $color-brown--secondary

  &__account
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

  &__avatar
    border-radius: 50%
    margin-right: 16px
    border: 3px solid $color-gold

  &__button
    transition: all 0.3s ease-in-out

    &:hover,
    &:focus
      .page-header__icon
        transition: all 0.3s ease-in-out
        fill: $color-gold

    &--arrow
      width: 32px
      height: 32px
      font-size: 0
      outline: none

    &--closed
      transform: rotate(0deg)

    &--opened
      transform: rotate(-180deg)

  &__userblock
    display: flex
    align-items: center

  &__btn
    width: 100px
    text-align: center

  &__text
    font-size: 13px
    font-weight: 400
    color: $color-brown--secondary
    position: relative
    max-width: 300px
    overflow: hidden
    text-overflow: ellipsis

    &::before
      width: 100%
      height: 2px
      content: ""
      position: absolute
      bottom: -2px
      left: 0
      background-image: url("../img/wave_outline.svg")

  &__list
    display: block
    position: absolute
    top: 254px
    left: 0
    width: 100%
    background-color: $color-brown--secondary
    z-index: 1

    &--closed
    transform: scaleY(0)
    transform-origin: top
    transition: transform 0.3s ease-in-out

    &--opened
      transform: scaleY(1)
      transform-origin: top
      transition: transform 0.3s ease-in-out

  &__link
    box-sizing: border-box
    position: relative
    padding: 24px 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 13px
    font-weight: 400
    color: $color-text
    transition: all 0.3s ease-in-out
    outline: none

    &:hover,
    &:focus
      color: $color-text--secondary
      transition: all 0.3s ease-in-out

      & .page-header__icon
        fill: $color-text--secondary
        transition: all 0.3s ease-in-out

    &:active
      color: $color-action
      transition: all 0.3s ease-in-out

      & .page-header__icon
        fill: $color-action
        transition: all 0.3s ease-in-out


  @media (min-width: $screen-sm)

    &__inner
      display: flex
      flex-wrap: wrap

    &__block
      box-sizing: border-box

      &--brown
        width: 100%

      &--lightgrey,
      &--grey
        width: 50%

    &__list
      top: 168px

  @media (min-width: $screen-md)
    &__inner
      flex-wrap: nowrap
      align-items: flex-start

    &__block
      box-sizing: border-box
      flex-shrink: 0

      &--brown,
      &--grey
        width: 20vw

      &--lightgrey
        width: 60vw
        padding: 13px 12px
        flex-shrink: 0
        padding-left: 30px
        padding-right: 56px

      &--brown
        position: relative
        padding: 19px 12px
        padding-left: 45px

        &::after
          content: ""
          position: absolute
          top: 0
          right: 0
          width: 5px
          height: 100%
          background-color: rgba(255, 255, 255, 0.1)

      &--grey
        padding: 11px 12px

    &__toggler
      display: none

    &__input
      padding-top: 8.5px
      padding-bottom: 8.5px

    &__buttons
      display: flex
      margin-left: 42px

    &__button
      font-size: 0
      width: 34px
      height: 34px
      outline: none

      &--active
        & .page-header__icon
          fill: $color-gold

    &__account
      justify-content: flex-start

    &__list
      width: 20vw
      top: 60px
      left: 80%
      z-index: 10
